$background: #382020 !default;
$background-alt: #271616 !default;

$selection: #271616 !default;

$text-main: #dbdbdb !default;
$text-bright: #ffffff !default;

$links: #ff6741 !default;
$focus: #00bf9696 !default;
$border: #dbdbdb !default;
$code: #85d6ff !default;

$button-hover: #593232 !default;
$animation-duration: 0.1s !default;

$scrollbar-thumb: $button-hover;
$scrollbar-thumb-hover: lighten($button-hover, 8%);

$form-placeholder: #a9a9a9 !default;
$form-text: #ffffff !default;

@import 'parts/core';
